<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
          class="list-group-item"
          [ngClass]="{odd: oddNum % 2 !== 0}"
          [ngStyle]="{backgroundColor: 'yellow'}"
          *ngFor="let oddNum of oddNumbers"
          >
          {{ oddNum }}
          </li>
        </div>

        <div *ngIf="!onlyOdd">
          <li
          class="list-group-item"
          *ngFor="let evenNum of evenNumbers"
          >
          {{ evenNum }}
          </li>
        </div> 
      </ul>
      <p appBasicHighlight>Style me with BasicHighlight</p>
      <p appBetterHighlight>Style me with BetterHighlight</p>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
    </div>
  </div>
</div>

<!-- we added appBasicHighlight like any other attribute of the paragraph -->
